.lettersUsed {
  width: 100%;
  margin-top: 3.25rem;
  border-top: 1px solid var(--border);

  h5 {
    margin: 0.75rem 0;
  }

  & > div {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;
  }
}
